@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans&display=swap');

:root {
  /* fonts */
  --fonts-family-mono: 'IBM Plex Mono', monospace;
  --fonts-family-sans: 'IBM Plex Sans', sans-serif;
}

body {
  font-family: var(--fonts-family-sans);
}